@model IEnumerable<UniPortal.Web.ViewModels.Semesters.IndexViewModel>
@{
    ViewData["Title"] = "Semesters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Table-->
<!-- Editable table -->
<div class="card">
    <h3 class="text-center m-auto text-uppercase text-primary py-4 px-3">@ViewData["Title"]</h3>

    <div class="card-body">
        <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2">
                <a asp-controller="Semesters" asp-action="Create" class="text-success">
                    <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
                </a>
            </span>
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-center">Semester</th>
                        <th class="text-center">Period</th>
                        <th class="text-center">Fee</th>
                        <th class="text-center">To be paid between</th>
                        <th class="text-center">Functions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var semester in Model)
                    {
                        <tr>
                            <td>@semester.Name</td>
                            <td>@semester.StartDate.ToShortDateString() - @semester.EndDate.ToShortDateString()</td>
                            @if (semester.Fee != null)
                            {
                                <td>@semester.Fee BGN</td>
                            }
                            else
                            {
                                <td> - </td>
                            }
                            @if (semester.OpenFrom != null && semester.OpenUntil != null)
                            {
                                <td>@semester.OpenFrom.Value.ToShortDateString() - @semester.OpenUntil.Value.ToShortDateString()</td>
                            }
                            else
                            {
                                <td> - </td>
                            }
                            <td>
                                <span class="table-remove">
                                    <a asp-controller="Semesters" asp-action="Pay" asp-route-id="@semester.Id" class="btn btn-success btn-rounded btn-sm my-0">Pay</a>
                                </span>
                                <span class="table-remove">
                                    <a asp-controller="Semesters" asp-action="Activate" asp-route-id="@semester.Id" class="btn btn-primary btn-rounded btn-sm my-0">Activate</a>
                                </span>
                                <span class="table-remove">
                                    <a asp-controller="Semesters" asp-action="Edit" asp-route-id="@semester.Id" class="btn btn-warning btn-rounded btn-sm my-0">Edit</a>
                                </span>
                                <span class="table-remove">
                                    <a asp-controller="Semesters" asp-action="Delete" asp-route-id="@semester.Id" class="btn btn-danger btn-rounded btn-sm my-0">Delete</a>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="form-group mt-3 d-flex justify-content-end">
    <a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-primary">Back to Home</a>
</div>
<!-- Editable table -->